.page-left {display: none;}
.page-right {margin:0;}
.login-logo {text-align: center;}
.logout {display: none;}

body {background: #eee;}
.login-box {background: #fff;width:400px;padding:30px;position: fixed;left:50%;top:50%;margin-top:-200px;margin-left:-200px;box-shadow:0 0 10px #ccc;-webkit-box-shadow:0 0 10px #ccc;}
.login-box .username_input input {background:#f8f8f8 url(../images/login_user.gif) no-repeat left top;}
.login-box .password_input input {background:#f8f8f8 url(../images/login_pw.gif) no-repeat left top;}
.login-box .password_input input:focus,.login-box .username_input input:focus {background-color: #fff;}
#yw0 {width:300px;margin:40px auto 0 auto;font-size:14px;color:#666;}
#yw0 .row {margin:10px 0;text-align: center;}
#yw0 input {padding:0 0 0 40px;border:1px solid #bbb;width:200px;height:29px;font-size:12px;}
#yw0 label {width:80px;float:left;margin:3px 0 0;}
#yw0 .submit input {cursor:pointer;background: #888;color:#fff;width:100px;height:40px;padding:0;margin-top:10px;text-transform: uppercase;font-size: 12px;}
#yw0 .submit input:hover {background: #333;}
.errorSummary {color:#999;border-bottom:1px solid #ccc;margin:0 0 10px 0;padding:0 0 0 45px}
.errorSummary p {margin:0 0 10px 0;}
.errorSummary li {font-size:10px;}


#yw0 input
{-webkit-transition:   all 0.3s ease;-moz-transition:  all 0.3s ease;-o-transition:  all 0.3s ease;-ms-transition:  all 0.3s ease;transition:  all 0.3s ease;}