/* Reset
================================================================================================= */
body{color:#000;font-size:12px;line-height:1.8em;background: #fff}
body,input,textarea{font-family:"Microsoft YaHei",arial,sans-serif;}
h1,h2,h3{font-size:100%;font-weight:600}
body,h1,h2,h3,h4,ul,li,p,img,input,textarea{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}

/* Commonly Used
================================================================================================= */
a{text-decoration:none;color:#666}
/*a:hover{color:#ccc;}*/
.clear{+zoom:1;}
.clear:before,
.clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}


.page-left {float:left;width:200px;}
    .page-left .menu {margin:15px 0 0 15px;}
    .page-left .menu ul {margin-left:15px;}


.page-right {margin-left:200px;}



.nodes-list li {background:#eee;float: left;margin:10px;position: relative;font-size:0.9em;}
    .nodes-list .type {position: absolute;right:10px;top:170px;background: url(../img/icons-white.png) no-repeat;text-indent: -999em;}
    .nodes-list .type.icon-photo {width:21px;height:15px;margin-top:5px;}
    .nodes-list .type.icon-video {width:21px;height:18px;background-position: 0 -42px;}
    .nodes-list .switch {position: absolute;right:10px;top:10px;}
    .nodes-list .date {color:#999;}
    .nodes-list .user {margin:6px 0 6px 0;}
    .nodes-list .avatar {float: left;margin:0 10px 0 6px;}
    .nodes-list .avatar img {border-radius: 33px;-webkit-border-radius: 33px;-moz-border-radius: 33px;-o-border-radius: 33px;-ms-border-radius: 33px;}
    .nodes-list .comment {background: url(../img/icons.png) no-repeat 0 4px;padding:0 0 0 20px;margin:0 0 0 10px;float:left;}
    .nodes-list .comment a {border-bottom:1px dotted #cb223a;}
    .nodes-list .like {background: url(../img/icons.png) no-repeat 0 -34px;padding:0 0 0 20px;margin:0 0 0 10px;float:left;}
    .nodes-list .btns {margin:7px 0 9px 8px;}


.comments-list li {background:#eee;float: left;margin:10px;position: relative;font-size:0.9em;width:45%;padding:10px;}
    .comments-list .date {color:#999;}
    .comments-list .user {margin:6px 0 6px 0;}
    .comments-list .avatar {float: left;margin:0 10px 0 6px;}
    .comments-list .avatar img {border-radius: 33px;-webkit-border-radius: 33px;-moz-border-radius: 33px;-o-border-radius: 33px;-ms-border-radius: 33px;}
    .comments-list .content {height:110px;overflow: hidden;}
    .comments-list .content img {float: left;margin-right:15px;padding:5px;border:1px solid #ccc;background: #fff;}
    .comments-list .btns {text-align:right;}



.users-list li {background:#eee;float: left;margin:10px;position: relative;font-size:0.9em;width:300px;padding:10px;}
    .users-list .date {color:#999;}
    .users-list .avatar {float: left;margin:10px 10px 0 6px;}
    .users-list .avatar img {border-radius: 33px;-webkit-border-radius: 33px;-moz-border-radius: 33px;-o-border-radius: 33px;-ms-border-radius: 33px;}
    .users-list .user-info {margin:6px 0 6px 0;float: left;width:220px;overflow: hidden;}
    .users-list .btns {margin:0 0 0 55px;}
